[user]
	email = gabriel.stundner@acad.pucrs.br
	name = F4NT0
[color]
	ui = true
[color "status"]
				changed = yellow bold
				untracked = red bold
				added = green bold
[color "diff"]
				old = red bold
				new = green bold
